a {
    color: #830257;
}

a:hover, a:focus {
    color: #500135;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #830257;
    border-color: #830257;
}

.pagination > li > a, .pagination > li > span {
    color: #830257;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #500135;
}

.progress-bar {
    background-color: #830257;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.jumbotron {
    background-color: #f5f5f5;
}
